target/
.idea/
.vscode/
.settings
.project
.classpath

*.iml
.DS_Store

/walking-skeleton/package.json
/walking-skeleton/package-lock.json
/walking-skeleton/tsconfig.json
/walking-skeleton/types.d.ts
/walking-skeleton/vite.config.ts
/walking-skeleton/src/main/bundles/
