/* Add your styles here */

.app-header {
    display: flex;
    align-items: center;
    padding: 0 var(--vaadin-padding-m);
    gap: var(--vaadin-gap-m);
}

.app-logo {
    width: 20px;
    padding: var(--vaadin-padding-m);
    background-color: #056FF0;
    border-radius: var(--vaadin-radius-m);
}

.app-name {
    font-weight: var(--aura-font-weight-semibold);
    font-size: var(--aura-font-size-l);
}

.app-footer {
    display: flex;
    padding: 0 var(--vaadin-padding-m);
    justify-content: center;
    color: var(--vaadin-text-color-secondary);
    font-size: var(--aura-font-size-s);
}

.view-toolbar h1 {
    font-size: var(--aura-font-size-l);
    font-weight: var(--aura-font-weight-semibold);
}
