/* Add your styles here */

.app-logo {
    width: 20px;
    padding: var(--vaadin-padding-m);
    background-color: #056FF0;
    border-radius: var(--vaadin-radius-m);
}

.app-name {
    font-weight: var(--aura-font-weight-semibold);
    font-size: var(--aura-font-size-l);
}

.view-toolbar h1 {
    font-size: var(--aura-font-size-l);
    font-weight: var(--aura-font-weight-semibold);
}
